@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*
    Brukte "color name finder" for å finne fargenavnene til fargekodene 
    Link: https://colordesigner.io/color-name-finder
*/

/*
    Har brukt skissens posisjon (tok skissen opp mot nettsiden) for å sammenligne høyder, lengder, mellomrom osv. for å få det mest mulig likt skissen. 
    Tallene på henholdsvis margin, padding, font-sizes osv. kan være noe ulikt skissen, men har prøvd å fått de så likt som mulig. Brukte skriftfamilien roboto.
*/

/*
    Samlet alle fargene i variabler slik at de kunne gjenbrukes. 
*/
:root {
    --darkslategray: #2A324B; 
    --steelblue: #58699D; 
    --gainsboro: #E1E5EE; 
    --white:  #fff; 
}

html, body {
    margin: 0; 
    padding: 0;
}

body {
    background-color: var(--gainsboro); 
    font-family: "roboto"; 
}

header, main, article {
    box-sizing: border-box; 
}

main, header {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

header { 
    background-color: var(--gainsboro); 
    margin-top: 200px; 

    nav {
        
        ul {
            list-style: none; 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0; 
            margin: 0; 
            
            li {

                button {
                    background-color: var(--darkslategray);
                    color: var(--white); 
                    text-decoration: none;
                    text-align: center; 
                    font-size: 22px; 
                    font-weight: bolder; 
                    border: none; 
                    padding: 30px 96px;
                    
                }

                /*
                    Brukte hover for å endre stilsettingen på menypunktene. Den fungerer slik at der brukeren trykker endres stilsettingen. 
                */

                button:hover {
                    background-color: var(--white); 
                    color: var(--darkslategray); 
                }
            }
        }
    }
}

main {
    background-color: var(--white); 
    padding: 120px 200px 137px 95px; 

    h2{
        color: var(--darkslategray); 
        margin: 0; 
        padding: 0; 
        font-size: 30px; 
        font-weight: bolder; 
    }

    p{
        font-size: 22px; 
    }

    ul{
        li{
            a{
                color: var(--steelblue); 
                font-size: 22px; 
            }
        }
    }
}